body
{
background-color: 'white';
padding: none;
}
ul.reslist
{
    padding: none;
    margin: 0px;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 10px;
}
/*div.HUD 
{
    background-color: "green";
    border-radius: 3px;
    padding: 1px;
}*/
