body
{
background-color: white;
padding: 0px;
}
a#custom-tweet-button {
    padding: 2px 5px 2px 20px;
    background: url('http://a4.twimg.com/images/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
th, tr, td {
    padding: 0px;
}
tr.summary {
    font-weight: bold;
}
tr.summary#day {
    font-size: 110%;
}
div#cr-stage {
    padding-right: 15px;
    margin-right: 15px;
    background-color: black;
}
ul.reslist
{
    padding: none;
    margin: 0px;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 10px;
}
/*div.HUD 
{
    background-color: "green";
    border-radius: 3px;
    padding: 1px;
}*/
