body
{
background-color: white;
padding: none;
}

div#cr-stage {
    padding-right: 15px;
    margin-right: 15px;
    background-color: black;
}
ul.reslist
{
    padding: none;
    margin: 0px;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 10px;
}
/*div.HUD 
{
    background-color: "green";
    border-radius: 3px;
    padding: 1px;
}*/
